@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: "Rajdhani", sans-serif !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

select {
  background-color: #7B0000 !important;
}

.clip-angled {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%);
}
