@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body {
  font-family: "Rajdhani", sans-serif !important;
}

.gradient {
  background: linear-gradient(114.66deg, #C11DFF -6.74%, #FCCD04 94.39%);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

select {
  background-color: #F8F8F8 !important;
}
