@import "tailwindcss";

@theme {
  /* Color */
  --color-back: #101010;
  --color-black-2: #1f1f1f;
  --color-black-soft: #191919;
  --color-mature: #9e3de8;
  --color-blue: #007dca;
  --color-gray: #f2f7f8;
  --color-gray-2: #333333;
  --color-red: #ff001a;
  --color-red-2: #7b0000;
  --color-red-3: #7b0e00;
  --color-red-4: #630000;
  --color-murrey: #db324d;
  --color-yellow: #dfce0c;
  --color-yellow-2: #FFFF20;

  /* Spacing */
  --spacing-90: 90px;
  --spacing-120: 120px;
  --spacing-200: 200px;
  --spacing-270: 270px;
  --spacing-288: 219px;
  --spacing-344: 344px;
  --spacing-360: 360px;
  --spacing-600: 600px;
  --spacing-728: 728px;

  /* Breakpoints */
  --breakpoint-xs: 450px;
}
